<% flash[:notice] %>
<table>
    <thead>
        <tr>
            <th class="user_data">
                <h1>Users List</h1>
            </th>
            <th class="importers">
                <h1>Import data</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>User_name</th>
                            <th>Playlist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <th><%= user.id %></th>
                                <th><%= user.first_name %></th>
                                <th><%= user.last_name %></th>
                                <th><%= user.email %></th>
                                <th><%= user.user_name %></th>
                                <th><%= user.playlists.map(&:name) %></th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </th>
            <th class="container importers">
                <div class="box">
                    Import user data
                    <div class="form">
                        <%= form_tag import_users_path, multipart: true do %>
                            <%= file_field_tag :file, required: true %>
                            <%= submit_tag 'Import CSV!' %>
                        <% end %>
                    </div>
                </div>
                <div class="box">
                    Import mp3 data
                    <div class="form">
                        <%= form_tag import_mp3s_path, multipart: true do %>
                            <%= file_field_tag :file, required: true %>
                            <%= submit_tag 'Import CSV!' %>
                        <% end %>
                    </div>
                </div>
                <div class="box">
                    Import playlist data
                    <div class="form">
                        <%= form_tag import_playlists_path, multipart: true do %>
                            <%= file_field_tag :file, required: true %>
                            <%= submit_tag 'Import CSV!' %>
                        <% end %>
                    </div>
                </div>
            </th>
        </tr>
    </tbody>
</table>

